<% include ../layouts/header %>
<h1>New Job Listing</h1>
<form action="/listings/new" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <input type="hidden" name="companyId" value="<%- user.id %>">
    <button type="submit" class="btn btn-primary">Create Job Listing</button>
</form>
<% include ../layouts/footer %>